body h1{
    font-family: 'Poppins', sans-serif;

}
.link-button{
    text-decoration: none;
    background-color: rgb(71, 114, 255);
    padding: 10px 40px;
    color: white;
    border-radius: 5px;
    
   

}
.donate{
    background-image: url(donation8.jpg);
    background-repeat: no-repeat;
    margin: 0;
    height: 400px;
    width: 100%;
    text-align: center;
    
   

}
p{
    font-size: 20px;
    color: aqua;
    text-align: center;
    margin-right: 20px;
    width: 80%;
}
h1{
    color: white;
}
#second-heading{
    color: black;
    text-align: center;
}
#second-paragraph{
    color: black;
    text-align: center;
}
.donate-today{
    width: 100px;
    height: 90px;
    background-color: cadetblue;
    margin-left: 70px;
}
.donate-today h1{
    color: black;
    margin-left: 9px;
    margin-right: 7px;
    padding-top: 15px;
}
.our-donate-plan{
    display: flex;
    margin-left: 200px;
}
h5{
    text-align: center;

    
}

   

#second-button{
    text-align: center;
}
#span{
    text-align: center;
}
#third-heading{
    color: black;
    text-align: center;
}
#third-paragraph{
    color: black;
    text-align: center;
}
.donate-plan{
    width: 350px;
    height: 350px;
    background-color: aqua;
    margin-left: 70px;
    margin-right: 10px;
}
#icon{
    font-size: 50px;
    color: black;
    text-align: left;
}


.donate-plan p{
    color: black;
    font-size: 15px;
    margin-left: 20px;
}
#second-box{
    background-color: darksalmon;
}
#third-box{
    background-color: yellowgreen;
}
.flexible{
    display: flex;
}
h2{
    margin-left: 20px;
}


footer{
    text-align: center;
    color: crimson;
    background-color: black;
    font-style: italic;
   padding-top: 10px;
    height: 100px;

}
.updates{
    color: black;
    text-align: center;
    margin-left: 90px;
}
.sub{
    width: 70px;
    background-color: crimson;
    color: white;
}
.email{
    background-color: dimgrey;
    color: white;
}

.margin{
    margin-left: 100px;
    margin-top: 10px;
}
.input{
    
    display: flex;
    
    
     
    background-color: khaki;
    width: 500px;
   margin: auto;
    padding: 50px;
    
}

